.pixel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    
    background-color: #eaeaea;
    border: 1px solid #909090;
    &__close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        font-size: 24px;
        // line-height: 24px;
        font-weight: bold;
        background-color: transparent;
        border: 1px solid #909090;
        cursor: pointer;
        
    }
    &__head {
        margin-bottom: 10px;
        padding: 15px 10px;
        font-weight: bold;
        border-bottom: 1px solid #909090;
        cursor: move;
    }
    &__body {
        padding: 10px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        margin: 0 -5px 10px;

    }
    &__label {
        width: 60px;
        margin: 5px;
        padding: 5px;
        border: 1px solid #909090;

    }
    &__file {
        width: 0;
        height: 0;
    }

    &__images {
        display: flex;
        width: 100%;
        min-height: 50px;
        border: 1px solid #909090;
        box-sizing: border-box;
    }
    &__img {
        display: block;
        // width: calc(33.33% - 10px);
        // height: 50px;
        width: 128px;
        height: 128px;
        margin: 5px;
        background-color: #aaa;
        background-size: cover;
        background-position: center;
        
    }
}

.pixel_hidden {
    display: none;
}