.code-border {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $color-border;
    resize: none;
    box-sizing: border-box;

    &__copy {
        padding: 4px 12px;
        font-family: inherit;
        font-size: 18px;
        background-color: $color-header;
        border: 1px solid $color-border;
        transition: all 0.3s;
        &:hover, &:focus {
            background-color: lighten($color: $color-header, $amount: 10%);
        }
    }
}