h1, h2, h3, h4, h5, h6, ul, form, label {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
html {
    
    scroll-behavior: smooth;
}
.page {
    margin: 0;
    font-family: $font-main;
    color: $color-text;
    line-height: 1;
    
    
}
.content {
    position: relative;
    padding-left: 250px;
    background-color: $color-apps;
    transition: padding 1s;
}

.content_size_full {
    padding-left: 0;
}

@include media($tablet){
    .content {
        padding-left: 0;
    }
}

