.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-left: 250px;
    padding: 10px 20px;
    background-color: $color-footer;
    box-shadow: 0 -5px 5px rgba($color: #000000, $alpha: 0.3);
    &__copy {
        
        max-width: 200px;
        padding: 5px;
        font-size: 14px;
        color: #fff;
        background-color: $color-text;
        border: 2px solid #fff;
        border-radius: 5px;
    }
    &__link {
        color: #fff;
    }
}