.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 250px;
    padding: 10px 20px;
    background-color: $color-footer;
    box-shadow: 0 -3px 5px rgba($color: #000000, $alpha: 0.3);
    transition: margin 1s;
    &__logo {
        margin-right: 10px;
    }
    &__social {
        margin-right: auto;
    }
    &__copy {
        max-width: 220px;
        margin-left: 10px;
        padding: 5px;
        font-size: 14px;
        line-height: 1.2;
        color: #fff;
        background-color: $color-text;
        border: 2px solid #fff;
        border-radius: 5px;
        box-sizing: border-box;
    }
    &__link {
        color: #fff;
    }
}

.footer_size_full {
    margin-left: 0;
}

@include media($tablet) {
    .footer {
        margin-left: 0;
        &__copy {
            font-size: 10px;
            line-height: 1;
        }
    }
}