.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    height: 80px;
    background-color: $color-header;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);
    &__title {
        margin: 0;
        padding: 0 20px;
        font-size: 24px;
        line-height: 80px;
        
    }
}