/*Variables for input*/

$range-height: 27px;
$range-width: auto;
$range-track-height: 3px;
$range-thumb-width: 15px;
$range-thumb-height: 15px;
$range-thumb-radius: 15px;

$range-track-bg: $color-border;

$range-thumb-border: $color-border;
$range-thumb-bg: $color-apps;

input[type=range] {
    height: $range-height;
    // margin: 0;
    -webkit-appearance: none;
    // width: $range-width;
    background: transparent;
  }
//   input[type=range]:focus {
//     outline: none;
//   }
  input[type=range]::-webkit-slider-runnable-track {
    width: $range-width;
    height: $range-track-height;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: $range-track-bg;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid $range-thumb-border;
    height: $range-thumb-height;
    width: $range-thumb-width;
    border-radius: $range-thumb-radius;
    background: $range-thumb-bg;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;

  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $range-track-bg;
  }
  input[type=range]::-moz-range-track {
    // width: $range-width;
    height: $range-track-height;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: $range-track-bg;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid $range-thumb-border;
    height: $range-thumb-height;
    width: $range-thumb-width;
    border-radius: $range-thumb-radius;
    background: $range-thumb-bg;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: $range-width;
    height: $range-track-height;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: $range-thumb-height;
    width: $range-thumb-width;
    border-radius: $range-thumb-radius;
    background: #A1D0FF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
  }

  @include media(425) {
    input[type=range]::-webkit-slider-thumb {
      transform: scale(2);
    }
    input[type=range]::-moz-range-thumb {
      transform: scale(2);
    }
  }