.preview-shadow {
    display: flex;
    justify-content: center;
    align-content: center;
    height: calc(100% - 40px);
    padding: 20px 0;
    box-sizing: border-box;
    &__target {
        margin: auto;
        background-color: $color-target;
        border: 2px solid #303030;
        width: 200px;
        height: 200px;
    }
}