.settings-shadow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    &__label {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &__title {
        display: block;
        width: 100%;
        margin-left: 5px;
    }

    &__shadow-slider {
        margin: 5px;
        margin-right: auto;
        width: calc(80% - 10px);
    }
    &__shadow-count{
        margin: 5px;
        padding: 5px;
        max-width: calc(20% - 10px);
        border-radius: 5px;
        border: 1px solid $color-border;
        box-sizing: border-box;
    }
    &__inset {
        margin: 5px;
        padding: 6px 12px;
        border: 1px solid $color-border;
        transition: background-color 0.5s;
        cursor: pointer;
    }
    &__inset_checked {
        background-color: $color-nav;
    }
}