.transition {
    min-height: 100vh;
    padding: 20px;
    background-color: $color-apps;
    &__title {
        margin-top: 80px;
        margin-bottom: 20px;
    }
    &__main {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }
    &__settings {
        margin: 5px;
        width: calc(50% - 20px);
        &::before {
            background: url('../build/img/controls.svg');
        }
    }
    &__preview {
        margin: 5px;
        width: calc(50% - 20px);
        &::before {
            background: url('../build/img/preview.svg');
        }
    }
    &__code {
        margin: 5px;
        width: calc(50% - 20px);
        &::before {
            background: url('../build/img/file.svg');
        }
    }
}

@include media($tablet) {
    .transition {
        padding: 10px;
        padding-bottom: 100px;
        &__settings, &__preview, &__code {
            width: calc(100% - 10px);
        }
    }
}