$font-main: 'Roboto Mono', monospace;

$color-header: #3bb8e5;
$color-nav: #beef4c;
$color-nav_active: #707070;
$color-footer: #e0834a;
$color-apps: #eaeaea;
$color-text: #303030;
$color-border: #909090;
$color-target: #aaeeff;

$tablet: 767;
$mobile: 425;