h1, h2, h3, h4, h5, h6, ul, form, label {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.page {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: #303030;
  line-height: 1;
}

.content {
  position: relative;
  padding-left: 250px;
  background-color: #eaeaea;
  -webkit-transition: padding 1s;
  transition: padding 1s;
}

.content_size_full {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .content {
    padding-left: 0;
  }
}

/*Variables for input*/
input[type=range] {
  height: 27px;
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: auto;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 0px #000000;
          box-shadow: 0px 0px 0px #000000;
  background: #909090;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000;
          box-shadow: 0px 0px 0px #000000;
  border: 1px solid #909090;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #eaeaea;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #909090;
}

input[type=range]::-moz-range-track {
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #909090;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #909090;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #eaeaea;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: auto;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #A1D0FF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

.block {
  position: relative;
  min-width: 300px;
  min-height: 200px;
  padding: 10px;
  border: 2px solid #909090;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.5s, -webkit-box-shadow 0.3s;
  transition: width 0.5s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, width 0.5s;
  transition: box-shadow 0.3s, width 0.5s, -webkit-box-shadow 0.3s;
}

.block::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.block__title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #909090;
}

.block:hover, .block:focus {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.code {
  padding: 10px;
  line-height: 1.5em;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(0, transparent));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 50%, transparent 0);
  background-size: auto 3em;
  background-origin: content-box;
  border: 1px solid #909090;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  padding: 4px 12px;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  background-color: #3bb8e5;
  border: 1px solid #909090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover, .button:focus {
  background-color: #68c8eb;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #3bb8e5;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.header__logo {
  margin-right: 20px;
  overflow: hidden;
  -webkit-transform: perspective(100px);
          transform: perspective(100px);
  cursor: pointer;
  -webkit-animation: logo-rotate 2s linear paused forwards;
          animation: logo-rotate 2s linear paused forwards;
}

.header__logo:hover, .header__logo:focus {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.header__logo:hover, .header__logo:focus + .header__title {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.header__title {
  font-family: monospace;
  font-size: 24px;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: code 2s steps(14) forwards paused;
          animation: code 2s steps(14) forwards paused;
}

@-webkit-keyframes code {
  to {
    width: 14ch;
  }
}

@keyframes code {
  to {
    width: 14ch;
  }
}

@-webkit-keyframes logo-rotate {
  50% {
    -webkit-transform: perspective(100px) rotateY(30deg);
            transform: perspective(100px) rotateY(30deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateY(0);
            transform: perspective(100px) rotateY(0);
  }
}

@keyframes logo-rotate {
  50% {
    -webkit-transform: perspective(100px) rotateY(30deg);
            transform: perspective(100px) rotateY(30deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateY(0);
            transform: perspective(100px) rotateY(0);
  }
}

.nav {
  position: fixed;
  top: 80px;
  z-index: 9;
  width: 250px;
  height: 100vh;
  background-color: #beef4c;
  -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item {
  text-align: center;
  list-style: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.nav__item:hover {
  background-color: #adeb1d;
}

.nav__item_active {
  background-color: #707070;
}

.nav__item_active:hover {
  background-color: #636363;
}

.nav__link {
  display: block;
  padding: 16px;
  color: #303030;
  text-decoration: none;
}

.nav_closed {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

.border {
  min-height: 100vh;
  padding: 20px;
  background-color: #eaeaea;
}

.border__title {
  margin-top: 80px;
  margin-bottom: 20px;
}

.border__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.border__settings {
  margin: 5px;
  width: calc(50% - 20px);
}

.border__settings::before {
  background: url("../build/img/controls.svg");
}

.border__preview {
  margin: 5px;
  width: calc(50% - 20px);
}

.border__preview::before {
  background: url("../build/img/preview.svg");
}

.border__code {
  margin: 5px;
  width: calc(50% - 20px);
}

.border__code::before {
  background: url("../build/img/file.svg");
}

@media screen and (max-width: 767px) {
  .border__settings, .border__preview, .border__code {
    width: calc(100% - 20px);
  }
}

.settings-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.settings-border__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.settings-border__title {
  display: block;
  width: 100%;
  margin-left: 5px;
}

.settings-border__title_short {
  width: auto;
  margin-right: 10px;
}

.settings-border__border-slider {
  margin: 5px;
  margin-right: auto;
  width: calc(80% - 10px);
}

.settings-border__border-count {
  margin: 5px;
  padding: 5px;
  max-width: calc(20% - 10px);
  border-radius: 5px;
  border: 1px solid #909090;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.settings-border__border-style {
  margin: 5px;
  padding: 5px 10px;
  font-family: "Roboto Mono", monospace;
  border: 2px solid #909090;
}

.preview-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: calc(100% - 40px);
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview-border__target {
  margin: auto;
  background-color: #ff753f;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.code-border {
  width: 100%;
  margin-bottom: 10px;
}

.shadow {
  min-height: 100vh;
  padding: 20px;
  background-color: #e2e2e2;
}

.shadow__title {
  margin-top: 80px;
  margin-bottom: 20px;
}

.shadow__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.shadow__settings {
  margin: 5px;
  width: calc(50% - 20px);
}

.shadow__settings::before {
  background: url("../build/img/controls.svg");
}

.shadow__preview {
  margin: 5px;
  width: calc(50% - 20px);
}

.shadow__preview::before {
  background: url("../build/img/preview.svg");
}

.shadow__code {
  margin: 5px;
  width: calc(50% - 20px);
}

.shadow__code::before {
  background: url("../build/img/file.svg");
}

@media screen and (max-width: 767px) {
  .shadow__settings, .shadow__preview, .shadow__code {
    width: calc(100% - 20px);
  }
}

.settings-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.settings-shadow__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.settings-shadow__title {
  display: block;
  width: 100%;
  margin-left: 5px;
}

.settings-shadow__shadow-slider {
  margin: 5px;
  margin-right: auto;
  width: calc(80% - 10px);
}

.settings-shadow__shadow-count {
  margin: 5px;
  padding: 5px;
  max-width: calc(20% - 10px);
  border-radius: 5px;
  border: 1px solid #909090;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.settings-shadow__inset {
  margin: 5px;
  padding: 6px 12px;
  border: 1px solid #909090;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

.settings-shadow__inset_checked {
  background-color: #beef4c;
}

.preview-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: calc(100% - 40px);
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview-shadow__target {
  margin: auto;
  background-color: #ff753f;
  border: 2px solid #303030;
  width: 200px;
  height: 200px;
}

.code-shadow {
  width: 100%;
  margin-bottom: 10px;
}

.transition {
  min-height: 100vh;
  padding: 20px;
  background-color: #eaeaea;
}

.transition__title {
  margin-top: 80px;
  margin-bottom: 20px;
}

.transition__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.transition__settings {
  margin: 5px;
  width: calc(50% - 20px);
}

.transition__settings::before {
  background: url("../build/img/controls.svg");
}

.transition__preview {
  margin: 5px;
  width: calc(50% - 20px);
}

.transition__preview::before {
  background: url("../build/img/preview.svg");
}

.transition__code {
  margin: 5px;
  width: calc(50% - 20px);
}

.transition__code::before {
  background: url("../build/img/file.svg");
}

@media screen and (max-width: 767px) {
  .transition__settings, .transition__preview, .transition__code {
    width: calc(100% - 20px);
  }
}

.settings-transition {
  margin: 0 -5px;
}

.settings-transition__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.settings-transition__title {
  margin-left: 5px;
}

.settings-transition__duration, .settings-transition__delay {
  width: 40px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #909090;
  border-radius: 5px;
}

.settings-transition__timing {
  margin: 5px;
  padding: 5px 10px;
  font-family: "Roboto Mono", monospace;
  border: 2px solid #909090;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 10px 20px;
  padding-left: 270px;
  background-color: #e0834a;
  -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: padding 1s;
  transition: padding 1s;
}

.footer__logo {
  margin-right: 10px;
}

.footer__social {
  margin-right: auto;
}

.footer__copy {
  max-width: 220px;
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  background-color: #303030;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__link {
  color: #fff;
}

.footer_size_full {
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .footer {
    margin-left: 0;
    padding-left: 20px;
  }
  .footer__copy {
    font-size: 10px;
    line-height: 1;
  }
}
/*# sourceMappingURL=style.css.map */